<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shop - Shop - El jardin de los gatos</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!-- Start-Container -->
	<div class="grid-container">
		<!-- Start-Nav -->
	<nav id="nav-grid">
		<a href="../index.html">
			<img src="../img/isologo-transparente-2.svg" class="isologo" alt="Isologo del jardin de los gatos">
		</a>
		<ul>
			<li><a href="../views/semillas.html">Semillas</a></li>
			<li><a href="../views/workshops.html">Workshops</a></li>
			<li><a href="../views/servicios.html">Servicios</a></li>
			<li><a href="../views/quienes-somos.html">Quienes somos</a></li>
			<li><a href="../views/contacto.html#contacto">Contacto</a></li>
			<li><a href="../views/shop.html">Shop</a></li>
		</ul>
	</nav>
	<!-- End-Nav -->
	<header id="header-grid">
		<img src="../img/shop-hero-4.png" alt="una fantastica cosecha de vegetales">
	<h1 class="grey-background-h1">Proximamente nuestra tienda virtual!</h1>
	<a href="../index.html">
		<img class="photo-size deep-margin-bottom" src="../img/quienes-somos.png" alt="un gatito en el jardin">
	
    </header>
	<main id="main-grid">
		
    </main>
    <footer id="footer-grid">
		<img class="f-spacing" src="../img/jardin-de-los-gatos-B.svg" alt="Isologo del jardin de los gatos">
		<p class="f-spacing">©2022. Powered by Centauro</p>
		<a href="https://www.instagram.com" target="_blank">
			<img class="f-spacing" src="../img/instagram-logo.svg" alt="icono de instagram">
		</a>
		<a href="https://www.facebook.com" target="_blank">
			<img class="f-spacing" src="../img/facebook-logo.svg" alt="icono de facebook">
		</a>
		<a href="https://www.youtube.com" target="_blank">
			<img class="f-spacing" src="../img/youtube-logo.svg" alt="icono de youtube">
		</a>
		<a href="https://www.linkedin.com" target="_blank">
			<img class="f-spacing" src="../img/linkedin-logo.svg" alt="icono de linkedin">
		</a>
    </footer>
</div>
	<!--End-Container  -->
</body>
</html>